.container {
      max-width: 1140px;
      margin: 0 auto;
}
h1 {
      font-family: 'Montserrat', sans-serif;
      text-align: center;
}
h2 {
      font-family: 'Montserrat', sans-serif;
      text-align: left;
}
span {
      font-weight: 500;
}
p {
      font-family: 'Montserrat', sans-serif;
      font-size: 25px;
      text-align: center;
}
.done {
      color: rgb(21, 167, 21);
}
.done:hover {
      color: rgb(9, 61, 9);
}